/* CLIENT-SPECIFIC STYLES */
        
        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }
        
        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }
        
        img {
            -ms-interpolation-mode: bicubic;
        }
        /* RESET STYLES */
        
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
            max-width: 100%;
        }
        
        img.top {
            width: 100%;
        }
        
        img.bottom {
            width: 100%;
        }
        
        img.left {
            max-width: 50%;
            margin-right: 2%;
            float: left;
        }
        
        img.right {
            max-width: 50%;
            margin-left: 2%;
            float: right;
        }
        
        table {
            border-collapse: collapse !important;
        }
        
        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            overflow-wrap: break-word;
        }
        /* iOS BLUE LINKS */
        
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }
        /* GMAIL BLUE LINKS */
        
        u+#body a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
        /* SAMSUNG MAIL BLUE LINKS */
        
        #MessageViewBody a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
        }
        /* These rules set the link and hover states, making it clear that links are, in fact, links. */
        /* Embrace established conventions like underlines on links to keep emails accessible. */
        
        a {
            color: rgb(16, 120, 189);
            font-weight: 600;
            text-decoration: underline;
        }
        
        a:hover {
            text-decoration: none !important;
        }
        /* These rules adjust styles for desktop devices, keeping the email responsive for users. */
        /* Some email clients don't properly apply media query-based styles, which is why we go mobile-first. */
        
        @media screen and (min-width:600px) {
            h1 {
                font-size: 48px !important;
                line-height: 48px !important;
            }
            .intro {
                font-size: 24px !important;
                line-height: 36px !important;
            }
        }