name: Build all

on:
  push:
    branches:
      - "!*"
      - "master"
    tags:
      - "v*"
  pull_request:
    branches: [ master ]
  
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Golang
      uses: actions/setup-go@v5
      with:
        go-version: 1.21
        
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11.0
    
    - name: Get Go Deps
      run: go get -v ./...

    - name: Get version
      id: vars
      run: |
        echo "BUILD_DATE=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
        echo "GIT_COMMIT=$(git rev-parse HEAD)" >> $GITHUB_ENV
        echo "GIT_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV

    - name: Build
      env:
        IMGUR_CLIENT_ID: ${{ secrets.IMGUR_CLIENT_ID }}
      run: >-
        python3 gox.py 
        -osarch="linux/386 linux/amd64 linux/arm linux/arm64 darwin/amd64 darwin/arm64 windows/amd64 windows/386" 
        -output "build/{{.Dir}}_{{.OS}}_{{.Arch}}" 
        -ldflags "-w -s -X github.com/slurdge/goeland/version.GitCommit=$GIT_COMMIT -X github.com/slurdge/goeland/version.BuildDate=$BUILD_DATE -X github.com/slurdge/goeland/internal/goeland/fetch.clientID=$IMGUR_CLIENT_ID"

# Commented out because
# MacOS seems unsupported
# False positive with Antivirus
#    - name: Run UPX
#      uses: crazy-max/ghaction-upx@v3
#      with:
#        version: latest
#        files: |
#          ./build/*
#        args: -q --lzma --best

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        append_body: true
        files: |
          ./build/*

    - name: Archive build
      uses: actions/upload-artifact@v4
      with:
        name: Build
        path: build
