name: Docker images

on:
  push:
    branches:
      - "!*"
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Get version
      id: vars
      run: |
        echo ::set-output name=BUILD_DATE::$(date +'%Y%m%d%H%M%S')
        echo ::set-output name=GIT_COMMIT::$(git rev-parse HEAD)
        echo ::set-output name=GIT_TAG::$(git describe --tags --abbrev=0)
    - name: Setup QEMU
      id: qemu
      uses: docker/setup-qemu-action@v2.2.0
      with:
        platforms: all

    - name: Available platforms
      run: echo ${{ steps.qemu.outputs.platforms }}

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3.0.0

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2.2.0 
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v4
      with:
        build-args: |
          BUILD_DATE=${{ steps.var.outputs.BUILD_DATE }}
          GIT_COMMIT=${{ steps.var.outputs.GIT_COMMIT }}
          IMGUR_CLIENT_ID=$${ secrets.IMGUR_CLIENT_ID }}
        platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
        push: ${{ startsWith(github.ref, 'refs/tags/') }}
        tags: |
          ghcr.io/slurdge/goeland:latest
          ghcr.io/slurdge/goeland:${{ steps.vars.outputs.GIT_TAG }}
          slurdge/goeland:latest
          slurdge/goeland:${{ steps.vars.outputs.GIT_TAG }}
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}

